In [31]:
import pandas as pd


df2019 = pd.read_csv("Resources/Cohort_2019.csv")
df2020 = pd.read_csv("Resources/Cohort_2020.csv")
df2021 = pd.read_csv("Resources/Cohort_2021.csv")
df2022 = pd.read_csv("Resources/Cohort_2022.csv")
df2023 = pd.read_csv("Resources/Cohort_2023.csv")

In [33]:
df2023

,Cohort Year,Graduation Rate Type,LEA Entity ID,LEA Name,School Entity ID,School Name,County,Subgroup,Number in Cohort,Number Graduated,Percent Graduated in 4 Years
0,2023,4 Year,4153,St Johns Unified District,4711,St Johns High School,Apache,All,60,*,*
1,2023,4 Year,4153,St Johns Unified District,4711,St Johns High School,Apache,American Indian or Alaska Native,*,*,*
2,2023,4 Year,4153,St Johns Unified District,4711,St Johns High School,Apache,Asian,*,*,*
3,2023,4 Year,4153,St Johns Unified District,4711,St Johns High School,Apache,Black/African American,*,*,*
4,2023,4 Year,4153,St Johns Unified District,4711,St Johns High School,Apache,English Learners,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...
6842,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Female,106,*,*
6843,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Hispanic or Latino,65,*,*
6844,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Male,27,*,*
6845,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,Multiple Races,*,*,*
6846,2023,4 Year,1001949,Arizona Goodwill Education Services,1001974,The Excel Center - Encanto,Maricopa,White,32,*,*